.banner {
  background-image: asset-url("cinema.jpg");
  background-size: cover;
  background-position: center;

  height: 400px;
}

.banner-dyna {
  background-size: cover;
  background-position: center;

  height: 400px;
}
