.card {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.movie-card {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-img {
  height: 200px;
  display: flex;
  object-fit: cover;
  background-position: center center;
}

.card-text {
  font-size: 14px;
  color: rgb(120,120,120);
}

.card-bottom {
  font-size: 14px
}
