<div class="container w-25">
  <h1>Reviews#new</h1>
  <div>
    <%= simple_form_for [@list, @review] do |f| %>
      <%= f.input :rating %>
      <%= f.input :comment %>
      <%= f.submit %>
    <% end %>
  </div>
 </div>
